doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  link(href='https://fonts.googleapis.com/css2?family=Quicksand&display=swap' rel='stylesheet')
  style.
    @media only screen and (max-width: 620px) {
    table.body h1 {
    font-size: 28px !important;
    margin-bottom: 10px !important;
    }
    table.body p,
    table.body ul,
    table.body ol,
    table.body td,
    table.body span,
    table.body a {
    font-size: 16px !important;
    }
    table.body .wrapper,
    table.body .article {
    padding: 10px !important;
    }
    table.body .content {
    padding: 0 !important;
    }
    table.body .container {
    padding: 0 !important;
    width: 100% !important;
    }
    table.body .main {
    border-left-width: 0 !important;
    border-radius: 0 !important;
    border-right-width: 0 !important;
    }
    table.body .btn table {
    width: 100% !important;
    }
    table.body .btn a {
    width: 100% !important;
    }
    table.body .img-responsive {
    height: auto !important;
    max-width: 100% !important;
    width: auto !important;
    }
    }
    @media all {
    .ExternalClass {
    width: 100%;
    }
    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
    line-height: 100%;
    }
    .apple-link a {
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    text-decoration: none !important;
    }
    #MessageViewBody a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    }
    .btn-primary table td:hover {
    background-color: #34495e !important;
    }
    .btn-primary a:hover {
    background-color: #34495e !important;
    border-color: #34495e !important;
    }
    }
span.preheader(style='color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;')
  | This is preheader text. Some clients will show this text as a
  | preview.
table.body(role='presentation' border='0' cellpadding='0' c='' ellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #f6f6f6; width: 100%;' width='100%' bgcolor='#f6f6f6')
  tr
    td(style='font-family: Quicksand, sans-serif; font-size: 14px; vertical-align: top;' valign='top')
    td.container(style='font-family: Quicksand, sans-serif; font-size: 14px; vertical-align: top; display: block; max-width: 580px; padding: 10px; width: 580px; margin: 0 auto;' width='580' valign='top')
      .content(style=' box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px;padding: 10px;')
        // START CENTERED WHITE CONTAINER
        table.main(role='presentation' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background: #ffffff; border-radius: 10px; width: 100%;' width='100%')
          // START MAIN CONTENT AREA
          tr
            td.wrapper(style='font-family: Quicksand, sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px;' valign='top')
              table(role='presentation' border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
                tr
                  td(style='font-family: Quicksand, sans-serif; font-size: 14px; vertical-align: top;' valign='top')
                    div(style='width: 100%; height: 186px; background: #007ca5; border-radius: 10px 10px 0px 0px;')
                      img(src='' style='font-size: 48px; color: white; margin: 0; margin-left: 20px; margin-top: 20px;')
                      table
                        tr
                          td
                            p(style='font-family: Quicksand, sans-serif; font-size: 20px; font-weight: normal; margin: 0; color: white; margin-left: 10px;')
                              | Lorem ipsum dolor sit amet, consectetur adipiscing
                              | elit, eiusmod tempor
                          td
                            img(src='https://merity-dev.devtomaster.com/images/star.png' height='120')
                    p(style='font-family: Quicksand, sans-serif;; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 15px; margin-left: 20px; margin-right: 20px; margin-top: 30px;')
                      | Hi there,
                    p(style='font-family: Quicksand, sans-serif;; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 15px; margin-left: 20px; margin-right: 20px;')
                      | You have just signed in
                    p(style='font-family: Quicksand, sans-serif;; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 15px; margin-left: 20px;')
                      | #{message}
                    p(style='font-family: Quicksand, sans-serif;; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 30px; margin-left: 20px;')
                tr
                  td.content-block(style='font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; color: #616161; font-size: 12px; text-align: center;' valign='top' align='center')
                    .apple-link(style='color: #616161; font-size: 12px; text-align: center; background: #efefef; padding-bottom: 20px; padding-top: 20px;')
                      a(href='#')
                        img(src='https://merity-dev.devtomaster.com/images/instagram.png' height='22' width='22' style='margin-right: 35px')
                      a(href='#')
                        img(src='https://merity-dev.devtomaster.com/images/facebook.png' height='22' width='22' style='margin-right: 35px')
                      a(href='#')
                        img(src='https://merity-dev.devtomaster.com/images/twitter.png' height='22' width='22' style='margin-right: 35px')
                tr
                  td.content-block(style='font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; color: #616161; font-size: 12px; text-align: center;' valign='top' align='center')
                    span.apple-link(style='color: #616161; font-size: 12px; text-align: center;')
                      | username@email.com
                    br
                    |                                             Company
                    |                                             Headquaters, Street 1712, San Fransisco,
                    |                                             USA
    td(style='font-family: sans-serif; font-size: 14px; vertical-align: top' valign='top')
